#header-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: brown;
    margin-bottom: 1rem;
}
.header-link {
    font-size: 2em;
    text-decoration: none;
    color: whitesmoke;
}
.header-link:hover {
    background-color: aqua;
    color: black;
}