#btn1{
    float: right;
    border: 0px;
    font-size: 1.5rem;
    color: blue;
}
#span1{
    font-size: 2rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid blue;
    padding: 0.5rem;
    background-color: cyan;
    margin-top: 2rem;
}
.box{
    width: 20%;
    font-size: 1.5rem;
    text-align: center;
    color: darkblue;
    font-weight: bold;
}
.flex1{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    padding: 0.5rem;
    background-color: skyblue;
}
.box1{
    width: 20%;
    font-size: 1.5rem;
    text-align: center;
    color: darkblue;
}