.App {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: green;
  /* height: 30px; */
  
  

}
li {
  list-style-type: none;
  font-size: 28px;
  color: antiquewhite;
}
Link {
  text-decoration:none;
}